<table>
    <tr>
    <td><b>Dec</b></td>
    <td><b>Hex</b></td>
    <td><b>Chr</b></td>
    <td><b>Dec</b></td>
    <td><b>Hex</b></td>
    <td><b>Chr</b></td>
    <td><b>Dec</b></td>
    <td><b>Hex</b></td>
    <td><b>Chr</b></td>
    <td><b>Dec</b></td>
    <td><b>Hex</b></td>
    <td><b>Chr</b></td>
    </tr>
    <tr>
    <td>0</td>
    <td>0</td>
    <td>nul</td>
    <td>32</td>
    <td>20</td>
    <td>spc</td>
    <td>64</td>
    <td>40</td>
    <td>@</td>
    <td>96</td>
    <td>60</td>
    <td>`</td>
    </tr>
    <tr>
    <td>1</td>
    <td>1</td>
    <td>soh</td>
    <td>33</td>
    <td>21</td>
    <td>!</td>
    <td>65</td>
    <td>41</td>
    <td>A</td>
    <td>97</td>
    <td>61</td>
    <td>a</td>
    </tr>
    <tr>
    <td>2</td>
    <td>2</td>
    <td>stx</td>
    <td>34</td>
    <td>22</td>
    <td>"</td>
    <td>66</td>
    <td>42</td>
    <td>B</td>
    <td>98</td>
    <td>62</td>
    <td>b</td>
    </tr>
    <tr>
    <td>3</td>
    <td>3</td>
    <td>etx</td>
    <td>35</td>
    <td>23</td>
    <td>#</td>
    <td>67</td>
    <td>43</td>
    <td>C</td>
    <td>99</td>
    <td>63</td>
    <td>c</td>
    </tr>
    <tr>
    <td>4</td>
    <td>4</td>
    <td>eot</td>
    <td>36</td>
    <td>24</td>
    <td>$</td>
    <td>68</td>
    <td>44</td>
    <td>D</td>
    <td>100</td>
    <td>64</td>
    <td>d</td>
    </tr>
    <tr>
    <td>5</td>
    <td>5</td>
    <td>enq</td>
    <td>37</td>
    <td>25</td>
    <td>%</td>
    <td>69</td>
    <td>45</td>
    <td>E</td>
    <td>101</td>
    <td>65</td>
    <td>e</td>
    </tr>
    <tr>
    <td>6</td>
    <td>6</td>
    <td>ack</td>
    <td>38</td>
    <td>26</td>
    <td>&</td>
    <td>70</td>
    <td>46</td>
    <td>F</td>
    <td>102</td>
    <td>66</td>
    <td>f</td>
    </tr>
    <tr>
    <td>7</td>
    <td>7</td>
    <td>bel</td>
    <td>39</td>
    <td>27</td>
    <td>'</td>
    <td>71</td>
    <td>47</td>
    <td>G</td>
    <td>103</td>
    <td>67</td>
    <td>g</td>
    </tr>
    <tr>
    <td>8</td>
    <td>8</td>
    <td>bs</td>
    <td>40</td>
    <td>28</td>
    <td>(</td>
    <td>72</td>
    <td>48</td>
    <td>H</td>
    <td>104</td>
    <td>68</td>
    <td>h</td>
    </tr>
    <tr>
    <td>9</td>
    <td>9</td>
    <td>tab</td>
    <td>41</td>
    <td>29</td>
    <td>)</td>
    <td>73</td>
    <td>49</td>
    <td>I</td>
    <td>105</td>
    <td>69</td>
    <td>i</td>
    </tr>
    <tr>
    <td>10</td>
    <td>a</td>
    <td>lf</td>
    <td>42</td>
    <td>2a</td>
    <td>*</td>
    <td>74</td>
    <td>4a</td>
    <td>J</td>
    <td>106</td>
    <td>6a</td>
    <td>j</td>
    </tr>
    <tr>
    <td>11</td>
    <td>b</td>
    <td>vt</td>
    <td>43</td>
    <td>2b</td>
    <td>+</td>
    <td>75</td>
    <td>4b</td>
    <td>K</td>
    <td>107</td>
    <td>6b</td>
    <td>k</td>
    </tr>
    <tr>
    <td>12</td>
    <td>c</td>
    <td>ff</td>
    <td>44</td>
    <td>2c</td>
    <td>,</td>
    <td>76</td>
    <td>4c</td>
    <td>L</td>
    <td>108</td>
    <td>6c</td>
    <td>l</td>
    </tr>
    <tr>
    <td>13</td>
    <td>d</td>
    <td>cr</td>
    <td>45</td>
    <td>2d</td>
    <td>-</td>
    <td>77</td>
    <td>4d</td>
    <td>M</td>
    <td>109</td>
    <td>6d</td>
    <td>m</td>
    </tr>
    <tr>
    <td>14</td>
    <td>e</td>
    <td>so</td>
    <td>46</td>
    <td>2e</td>
    <td>.</td>
    <td>78</td>
    <td>4e</td>
    <td>N</td>
    <td>110</td>
    <td>6e</td>
    <td>n</td>
    </tr>
    <tr>
    <td>15</td>
    <td>f</td>
    <td>si</td>
    <td>47</td>
    <td>2f</td>
    <td>/</td>
    <td>79</td>
    <td>4f</td>
    <td>O</td>
    <td>111</td>
    <td>6f</td>
    <td>o</td>
    </tr>
    <tr>
    <td>16</td>
    <td>10</td>
    <td>dle</td>
    <td>48</td>
    <td>30</td>
    <td>0</td>
    <td>80</td>
    <td>50</td>
    <td>P</td>
    <td>112</td>
    <td>70</td>
    <td>p</td>
    </tr>
    <tr>
    <td>17</td>
    <td>11</td>
    <td>dc1</td>
    <td>49</td>
    <td>31</td>
    <td>1</td>
    <td>81</td>
    <td>51</td>
    <td>Q</td>
    <td>113</td>
    <td>71</td>
    <td>q</td>
    </tr>
    <tr>
    <td>18</td>
    <td>12</td>
    <td>dc2</td>
    <td>50</td>
    <td>32</td>
    <td>2</td>
    <td>82</td>
    <td>52</td>
    <td>R</td>
    <td>114</td>
    <td>72</td>
    <td>r</td>
    </tr>
    <tr>
    <td>19</td>
    <td>13</td>
    <td>dc3</td>
    <td>51</td>
    <td>33</td>
    <td>3</td>
    <td>83</td>
    <td>53</td>
    <td>S</td>
    <td>115</td>
    <td>73</td>
    <td>s</td>
    </tr>
    <tr>
    <td>20</td>
    <td>14</td>
    <td>dc4</td>
    <td>52</td>
    <td>34</td>
    <td>4</td>
    <td>84</td>
    <td>54</td>
    <td>T</td>
    <td>116</td>
    <td>74</td>
    <td>t</td>
    </tr>
    <tr>
    <td>21</td>
    <td>15</td>
    <td>nak</td>
    <td>53</td>
    <td>35</td>
    <td>5</td>
    <td>85</td>
    <td>55</td>
    <td>U</td>
    <td>117</td>
    <td>75</td>
    <td>u</td>
    </tr>
    <tr>
    <td>22</td>
    <td>16</td>
    <td>syn</td>
    <td>54</td>
    <td>36</td>
    <td>6</td>
    <td>86</td>
    <td>56</td>
    <td>V</td>
    <td>118</td>
    <td>76</td>
    <td>v</td>
    </tr>
    <tr>
    <td>23</td>
    <td>17</td>
    <td>etb</td>
    <td>55</td>
    <td>37</td>
    <td>7</td>
    <td>87</td>
    <td>57</td>
    <td>W</td>
    <td>119</td>
    <td>77</td>
    <td>w</td>
    </tr>
    <tr>
    <td>24</td>
    <td>18</td>
    <td>can</td>
    <td>56</td>
    <td>38</td>
    <td>8</td>
    <td>88</td>
    <td>58</td>
    <td>X</td>
    <td>120</td>
    <td>78</td>
    <td>x</td>
    </tr>
    <tr>
    <td>25</td>
    <td>19</td>
    <td>em</td>
    <td>57</td>
    <td>39</td>
    <td>9</td>
    <td>89</td>
    <td>59</td>
    <td>Y</td>
    <td>121</td>
    <td>79</td>
    <td>y</td>
    </tr>
    <tr>
    <td>26</td>
    <td>1a</td>
    <td>sub</td>
    <td>58</td>
    <td>3a</td>
    <td>:</td>
    <td>90</td>
    <td>5a</td>
    <td>Z</td>
    <td>122</td>
    <td>7a</td>
    <td>z</td>
    </tr>
    <tr>
    <td>27</td>
    <td>1b</td>
    <td>esc</td>
    <td>59</td>
    <td>3b</td>
    <td>;</td>
    <td>91</td>
    <td>5b</td>
    <td>[</td>
    <td>123</td>
    <td>7b</td>
    <td>{</td>
    </tr>
    <tr>
    <td>28</td>
    <td>1c</td>
    <td>fs</td>
    <td>60</td>
    <td>3c</td>
    <td><</td>
    <td>92</td>
    <td>5c</td>
    <td>\</td>
    <td>124</td>
    <td>7c</td>
    <td>|</td>
    </tr>
    <tr>
    <td>29</td>
    <td>1d</td>
    <td>gs</td>
    <td>61</td>
    <td>3d</td>
    <td>=</td>
    <td>93</td>
    <td>5d</td>
    <td>]</td>
    <td>125</td>
    <td>7d</td>
    <td>}</td>
    </tr>
    <tr>
    <td>30</td>
    <td>1e</td>
    <td>rs</td>
    <td>62</td>
    <td>3e</td>
    <td>></td>
    <td>94</td>
    <td>5e</td>
    <td>^</td>
    <td>126</td>
    <td>7e</td>
    <td>~</td>
    </tr>
    <tr>
    <td>31</td>
    <td>1f</td>
    <td>us</td>
    <td>63</td>
    <td>3f</td>
    <td>?</td>
    <td>95</td>
    <td>5f</td>
    <td>_</td>
    <td>127</td>
    <td>7f</td>
    <td>del</td>
    </tr>
    </table>