<table border='1' style='font-family:monospace'><thead>
	<tr>
		<th></th>
		<th>00</th>
		<th>20</th>
		<th>40</th>
		<th>60</th>
		<th>80</th>
		<th>a0</th>
		<th>c0</th>
		<th>e0</th>
	</tr></thead>
  <tbody>
	<tr>
		<th>00</th>
		<td class="single"><a href='#brk'>BRK</a></td>
		<td class="single"><a href='#ret'>RET</a></td>
		<td>SFT:</td>
		<td>SFT2:</td>
		<td class="single"><a href='#flp'>FLP</a></td>
		<td class="single">---</td>
		<td>SFTk:</td>
		<td>SFT2k:</td>
	</tr>
	<tr>
		<th>01</th>
		<td><a href='#add'>ADD</td>
		<td>ADD2</td>
		<td>ADD:</td>
		<td>ADD2:</td>
		<td>ADDk</td>
		<td>ADD2k</td>
		<td>ADDk:</td>
		<td>ADD2k:</td>
	</tr>
	<tr>
		<th>02</th>
		<td><a href='#sub'>SUB</td>
		<td>SUB2</td>
		<td>SUB:</td>
		<td>SUB2:</td>
		<td>SUBk</td>
		<td>SUB2k</td>
		<td>SUBk:</td>
		<td>SUB2k:</td>
	</tr>
	<tr>
		<th>03</th>
		<td><a href='#mul'>MUL</a></td>
		<td>MUL2</td>
		<td>MUL:</td>
		<td>MUL2:</td>
		<td>MULk</td>
		<td>MUL2k</td>
		<td>MULk:</td>
		<td>MUL2k:</td>
	</tr>
	<tr>
		<th>04</th>
		<td><a href='#div'>DIV</a></td>
		<td>DIV2</td>
		<td>DIV:</td>
		<td>DIV2:</td>
		<td>DIVk</td>
		<td>DIV2k</td>
		<td>DIVk:</td>
		<td>DIV2k:</td>
	</tr>
	<tr>
		<th>05</th>
		<td><a href='#and'>AND</a></td>
		<td>AND2</td>
		<td>AND:</td>
		<td>AND2:</td>
		<td>ANDk</td>
		<td>AND2k</td>
		<td>ANDk:</td>
		<td>AND2k:</td>
	</tr>
	<tr>
		<th>06</th>
		<td><a href='#ora'>ORA</a></td>
		<td>ORA2</td>
		<td>ORA:</td>
		<td>ORA2:</td>
		<td>ORAk</td>
		<td>ORA2k</td>
		<td>ORAk:</td>
		<td>ORA2k:</td>
	</tr>
	<tr>
		<th>07</th>
		<td><a href='#eor'>EOR</a></td>
		<td>EOR2</td>
		<td>EOR:</td>
		<td>EOR2:</td>
		<td>EORk</td>
		<td>EOR2k</td>
		<td>EORk:</td>
		<td>EOR2k:</td>
	</tr>
	<tr>
		<th>08</th>
		<td><a href='#ldz'>LDZ</a></td>
		<td>LDZ2</td>
		<td>LDZ:</td>
		<td>LDZ2:</td>
		<td>LDZk</td>
		<td>LDZ2k</td>
		<td>LDZk:</td>
		<td>LDZ2k:</td>
	</tr>
	<tr>
		<th>09</th>
		<td><a href='#stz'>STZ</a></td>
		<td>STZ2</td>
		<td>STZ:</td>
		<td>STZ2:</td>
		<td>STZk</td>
		<td>STZ2k</td>
		<td>STZk:</td>
		<td>STZ2k:</td>
	</tr>
	<tr>
		<th>0a</th>
		<td><a href='#ldr'>LDR</a></td>
		<td>LDR2</td>
		<td>LDR:</td>
		<td>LDR2:</td>
		<td>LDRk</td>
		<td>LDR2k</td>
		<td>LDRk:</td>
		<td>LDR2k:</td>
	</tr>
	<tr>
		<th>0b</th>
		<td><a href='#str'>STR</a></td>
		<td>STR2</td>
		<td>STR:</td>
		<td>STR2:</td>
		<td>STRk</td>
		<td>STR2k</td>
		<td>STRk:</td>
		<td>STR2k:</td>
	</tr>
	<tr>
		<th>0c</th>
		<td><a href='#lda'>LDA</a></td>
		<td>LDA2</td>
		<td>LDA:</td>
		<td>LDA2:</td>
		<td>LDAk</td>
		<td>LDA2k</td>
		<td>LDAk:</td>
		<td>LDA2k:</td>
	</tr>
	<tr>
		<th>0d</th>
		<td><a href='#sta'>STA</a></td>
		<td>STA2</td>
		<td>STA:</td>
		<td>STA2:</td>
		<td>STAk</td>
		<td>STA2k</td>
		<td>STAk:</td>
		<td>STA2k:</td>
	</tr>
	<tr>
		<th>0e</th>
		<td><a href='#dei'>DEI</a></td>
		<td>DEI2</td>
		<td>DEI:</td>
		<td>DEI2:</td>
		<td>DEIk</td>
		<td>DEI2k</td>
		<td>DEIk:</td>
		<td>DEI2k:</td>
	</tr>
	<tr>
		<th>0f</th>
		<td><a href='#deo'>DEO</a></td>
		<td>DEO2</td>
		<td>DEO:</td>
		<td>DEO2:</td>
		<td>DEOk</td>
		<td>DEO2k</td>
		<td>DEOk:</td>
		<td>DEO2k:</td>
	</tr>
	<tr>
		<th>10</th>
		<td><a href='#pop'>POP</a></td>
		<td>POP2</td>
		<td>POP:</td>
		<td>POP2:</td>
		<td>POPk</td>
		<td>POP2k</td>
		<td>POPk:</td>
		<td>POP2k:</td>
	</tr>
	<tr>
		<th>11</th>
		<td><a href='#nip'>NIP</a></td>
		<td>NIP2</td>
		<td>NIP:</td>
		<td>NIP2:</td>
		<td>NIPk</td>
		<td>NIP2k</td>
		<td>NIPk:</td>
		<td>NIP2k:</td>
	</tr>
	<tr>
		<th>12</th>
		<td><a href='#swp'>SWP</a></td>
		<td>SWP2</td>
		<td>SWP:</td>
		<td>SWP2:</td>
		<td>SWPk</td>
		<td>SWP2k</td>
		<td>SWPk:</td>
		<td>SWP2k:</td>
	</tr>
	<tr>
		<th>13</th>
		<td><a href='#dig'>DIG</a></td>
		<td>DIG2</td>
		<td>DIG:</td>
		<td>DIG2:</td>
		<td>DIGk</td>
		<td>DIG2k</td>
		<td>DIGk:</td>
		<td>DIG2k:</td>
	</tr>
	<tr>
		<th>14</th>
		<td><a href='#dup'>DUP</a></td>
		<td>DUP2</td>
		<td>DUP:</td>
		<td>DUP2:</td>
		<td>DUPk</td>
		<td>DUP2k</td>
		<td>DUPk:</td>
		<td>DUP2k:</td>
	</tr>
	<tr>
		<th>15</th>
		<td><a href='#ovr'>OVR</a></td>
		<td>OVR2</td>
		<td>OVR:</td>
		<td>OVR2:</td>
		<td>OVRk</td>
		<td>OVR2k</td>
		<td>OVRk:</td>
		<td>OVR2k:</td>
	</tr>
	<tr>
		<th>16</th>
		<td><a href='#sth'>STH</a></td>
		<td>STH2</td>
		<td>STH:</td>
		<td>STH2:</td>
		<td>STHk</td>
		<td>STH2k</td>
		<td>STHk:</td>
		<td>STH2k:</td>
	</tr>
	<tr>
		<th>17</th>
		<td><a href='#grb'>GRB</a></td>
		<td>GRB2</td>
		<td>GRB:</td>
		<td>GRB2:</td>
		<td>GRBk</td>
		<td>GRB2k</td>
		<td>GRBk:</td>
		<td>GRB2k:</td>
	</tr>
	<tr>
		<th>18</th>
		<td><a href='#inc'>INC</a></td>
		<td>INC2</td>
		<td>INC:</td>
		<td>INC2:</td>
		<td>INCk</td>
		<td>INC2k</td>
		<td>INCk:</td>
		<td>INC2k:</td>
	</tr>
	<tr>
		<th>19</th>
		<td><a href='#dec'>DEC</a></td>
		<td>DEC2</td>
		<td>DEC:</td>
		<td>DEC2:</td>
		<td>DECk</td>
		<td>DEC2k</td>
		<td>DECk:</td>
		<td>DEC2k:</td>
	</tr>
	<tr>
		<th>1a</th>
		<td><a href='#equ'>EQU</a></td>
		<td>EQU2</td>
		<td>EQU:</td>
		<td>EQU2:</td>
		<td>EQUk</td>
		<td>EQU2k</td>
		<td>EQUk:</td>
		<td>EQU2k:</td>
	</tr>
	<tr>
		<th>1b</th>
		<td><a href='#gth'>GTH</a></td>
		<td>GTH2</td>
		<td>GTH:</td>
		<td>GTH2:</td>
		<td>GTHk</td>
		<td>GTH2k</td>
		<td>GTHk:</td>
		<td>GTH2k:</td>
	</tr>
	<tr>
		<th>1c</th>
		<td><a href='#lth'>LTH</a></td>
		<td>LTH2</td>
		<td>LTH:</td>
		<td>LTH2:</td>
		<td>LTHk</td>
		<td>LTH2k</td>
		<td>LTHk:</td>
		<td>LTH2k:</td>
	</tr>
	<tr>
		<th>1d</th>
		<td><a href='#jmp'>JMP</a></td>
		<td>JMP2</td>
		<td>JMP:</td>
		<td>JMP2:</td>
		<td>JMPa</td>
		<td>JMP2a</td>
		<td>JMPa:</td>
		<td>JMP2a:</td>
	</tr>
	<tr>
		<th>1e</th>
		<td><a href='#jcn'>JCN</a></td>
		<td>JCN2</td>
		<td>JCN:</td>
		<td>JCN2:</td>
		<td>JCNa</td>
		<td>JCN2a</td>
		<td>JCNa:</td>
		<td>JCN2a:</td>
	</tr>
	<tr>
		<th>1f</th>
		<td><a href='#jsr'>JSR</a></td>
		<td>JSR2</td>
		<td>JSR:</td>
		<td>JSR2:</td>
		<td>JSRa</td>
		<td>JSR2a</td>
		<td>JSRa:</td>
		<td>JSR2a:</td>
	</tr>
  </tbody></table>