<pre>
    <b>brk</b> a b c          <b>ret</b> | a b {PC=c}       <b>flp</b> | a b c            <b>sib</b> a b {B=c16}
    
    <b>psh</b>|2r: a b c [PC] <b>lab</b>|2kr a b [c16]      <b>add</b>|2k: a b+c          <b>inc</b>|2kr a b c+1
    <b>pop</b>|2r: a b        <b>sab</b>|2kr a {[c16]=b}    <b>sub</b>|2k: a b-c          <b>dec</b>|2kr a b c-1
    <b>nip</b>|2r: a c        <b>lof</b>|2r: a b [PC+c8]    <b>mul</b>|2k: a b*c          <b>equ</b>|2k: a b==c
    <b>swp</b>|2r: a c b      <b>sof</b>|2r: a {[PC+c8]=b}  <b>div</b>|2k: a b/c          <b>gth</b>|2k: a b&gt;c
    <b>dig</b>|2kr b c a      <b>laz</b>|2k: a b [B+c8]     <b>and</b>|2k: a b&c          <b>lth</b>|2k: a b&lt;c
    <b>dup</b>|2r: a b c c    <b>saz</b>|2k: a {[B+c8]=b}   <b>bor</b>|2k: a b|c          <b>jmp</b>|2a: a b {PC+=c}
    <b>ovr</b>|2r: a b c b    <b>lev</b>|2k: a b [D+c8]     <b>xor</b>|2k: a b^c          <b>jif</b>|2a: a (b8){PC+=c}
    <b>sth</b>|2kr a b | c    <b>sev</b>|2k: a {[D+c8]=b}   <b>sft</b>|2k: a b&gt;&gt;c8l&lt;&lt;c8h  <b>jub</b>|2a: a b | PC {PC+=c}
</pre>

 
 