<table border='1' style='font-family:monospace'><thead>
	<tr>
		<th></th>
		<th>00</th>
		<th>20</th>
		<th>40</th>
		<th>60</th>
		<th>80</th>
		<th>a0</th>
		<th>c0</th>
		<th>e0</th>
	</tr></thead>
  <tbody>
	<tr>
		<th>00</th>
		<td class="single"><a href='#brk'>brk</a></td>
		<td class="single"><a href='#ret'>ret</a></td>
		<td class="single"><a href='#flp'>flp</a></td>
		<td class="single"><a href='#sib'>sib</a></td>
		<td>psh:</td>
		<td>psh2:</td>
		<td>pshr:</td>
		<td>psh2r:</td>
	</tr>
	<tr>
		<th>01</th>
		<td><a href='#pop'>pop</a></td>
		<td>pop2</td>
		<td>popr</td>
		<td>pop2r</td>
		<td>pop:</td>
		<td>pop2:</td>
		<td>popr:</td>
		<td>pop2r:</td>
	</tr>
	<tr>
		<th>02</th>
		<td><a href='#nip'>nip</a></td>
		<td>nip2</td>
		<td>nipr</td>
		<td>nip2r</td>
		<td>nip:</td>
		<td>nip2:</td>
		<td>nipr:</td>
		<td>nip2r:</td>
	</tr>
	<tr>
		<th>03</th>
		<td><a href='#swp'>swp</a></td>
		<td>swp2</td>
		<td>swpr</td>
		<td>swp2r</td>
		<td>swp:</td>
		<td>swp2:</td>
		<td>swpr:</td>
		<td>swp2r:</td>
	</tr>
	<tr>
		<th>04</th>
		<td><a href='#dig'>dig</a></td>
		<td>dig2</td>
		<td>digk</td>
		<td>dig2k</td>
		<td>digr</td>
		<td>dig2r</td>
		<td>digkr</td>
		<td>dig2kr</td>
	</tr>
	<tr>
		<th>05</th>
		<td><a href='#dup'>dup</a></td>
		<td>dup2</td>
		<td>dupr</td>
		<td>dup2r</td>
		<td>dup:</td>
		<td>dup2:</td>
		<td>dupr:</td>
		<td>dup2r:</td>
	</tr>
	<tr>
		<th>06</th>
		<td><a href='#ovr'>ovr</a></td>
		<td>ovr2</td>
		<td>ovrr</td>
		<td>ovr2r</td>
		<td>ovr:</td>
		<td>ovr2:</td>
		<td>ovrr:</td>
		<td>ovr2r:</td>
	</tr>
	<tr>
		<th>07</th>
		<td><a href='#sth'>sth</a></td>
		<td>sth2</td>
		<td>sthk</td>
		<td>sth2k</td>
		<td>sthr</td>
		<td>sth2r</td>
		<td>sthkr</td>
		<td>sth2kr</td>
	</tr>
	<tr>
		<th>08</th>
		<td><a href='#lab'>lab</a></td>
		<td>lab2</td>
		<td>labk</td>
		<td>lab2k</td>
		<td>labr</td>
		<td>lab2r</td>
		<td>labkr</td>
		<td>lab2kr</td>
	</tr>
	<tr>
		<th>09</th>
		<td><a href='#sab'>sab</a></td>
		<td>sab2</td>
		<td>sabk</td>
		<td>sab2k</td>
		<td>sabr</td>
		<td>sab2r</td>
		<td>sabkr</td>
		<td>sab2kr</td>
	</tr>
	<tr>
		<th>0a</th>
		<td><a href='#lof'>lof</a></td>
		<td>lof2</td>
		<td>lofr</td>
		<td>lof2r</td>
		<td>lof:</td>
		<td>lof2:</td>
		<td>lofr:</td>
		<td>lof2r:</td>
	</tr>
	<tr>
		<th>0b</th>
		<td><a href='#sof'>sof</a></td>
		<td>sof2</td>
		<td>sofr</td>
		<td>sof2r</td>
		<td>sof:</td>
		<td>sof2:</td>
		<td>sofr:</td>
		<td>sof2r:</td>
	</tr>
	<tr>
		<th>0c</th>
		<td><a href='#laz'>laz</a></td>
		<td>laz2</td>
		<td>lazk</td>
		<td>laz2k</td>
		<td>laz:</td>
		<td>laz2:</td>
		<td>lazk:</td>
		<td>laz2k:</td>
	</tr>
	<tr>
		<th>0d</th>
		<td><a href='#saz'>saz</a></td>
		<td>saz2</td>
		<td>sazk</td>
		<td>saz2k</td>
		<td>saz:</td>
		<td>saz2:</td>
		<td>sazk:</td>
		<td>saz2k:</td>
	</tr>
	<tr>
		<th>0e</th>
		<td><a href='#lev'>lev</a></td>
		<td>lev2</td>
		<td>levk</td>
		<td>lev2k</td>
		<td>lev:</td>
		<td>lev2:</td>
		<td>levk:</td>
		<td>lev2k:</td>
	</tr>
	<tr>
		<th>0f</th>
		<td><a href='#sev'>sev</a></td>
		<td>sev2</td>
		<td>sevk</td>
		<td>sev2k</td>
		<td>sev:</td>
		<td>sev2:</td>
		<td>sevk:</td>
		<td>sev2k:</td>
	</tr>
	<tr>
		<th>10</th>
		<td><a href='#add'>add</td>
		<td>add2</td>
		<td>addk</td>
		<td>add2k</td>
		<td>add:</td>
		<td>add2:</td>
		<td>addk:</td>
		<td>add2k:</td>
	</tr>
	<tr>
		<th>11</th>
		<td><a href='#sub'>sub</td>
		<td>sub2</td>
		<td>subk</td>
		<td>sub2k</td>
		<td>sub:</td>
		<td>sub2:</td>
		<td>subk:</td>
		<td>sub2k:</td>
	</tr>
	<tr>
		<th>12</th>
		<td><a href='#mul'>mul</a></td>
		<td>mul2</td>
		<td>mulk</td>
		<td>mul2k</td>
		<td>mul:</td>
		<td>mul2:</td>
		<td>mulk:</td>
		<td>mul2k:</td>
	</tr>
	<tr>
		<th>13</th>
		<td><a href='#div'>div</a></td>
		<td>div2</td>
		<td>divk</td>
		<td>div2k</td>
		<td>div:</td>
		<td>div2:</td>
		<td>divk:</td>
		<td>div2k:</td>
	</tr>
	<tr>
		<th>14</th>
		<td><a href='#and'>and</a></td>
		<td>and2</td>
		<td>andk</td>
		<td>and2k</td>
		<td>and:</td>
		<td>and2:</td>
		<td>andk:</td>
		<td>and2k:</td>
	</tr>
	<tr>
		<th>15</th>
		<td><a href='#bor'>bor</a></td>
		<td>bor2</td>
		<td>bork</td>
		<td>bor2k</td>
		<td>bor:</td>
		<td>bor2:</td>
		<td>bork:</td>
		<td>bor2k:</td>
	</tr>
	<tr>
		<th>16</th>
		<td><a href='#xor'>xor</a></td>
		<td>xor2</td>
		<td>xork</td>
		<td>xor2k</td>
		<td>xor:</td>
		<td>xor2:</td>
		<td>xork:</td>
		<td>xor2k:</td>
	</tr>
	<tr>
		<th>17</th>
		<td><a href='#sft'>sft</a></td>
		<td>sft2</td>
		<td>sftk</td>
		<td>sft2k</td>
		<td>sft:</td>
		<td>sft2:</td>
		<td>sftk:</td>
		<td>sft2k:</td>
	</tr>
	<tr>
		<th>18</th>
		<td><a href='#inc'>inc</a></td>
		<td>inc2</td>
		<td>inck</td>
		<td>inc2k</td>
		<td>incr</td>
		<td>inc2r</td>
		<td>inckr</td>
		<td>inc2kr</td>
	</tr>
	<tr>
		<th>19</th>
		<td><a href='#dec'>dec</a></td>
		<td>dec2</td>
		<td>deck</td>
		<td>dec2k</td>
		<td>decr</td>
		<td>dec2r</td>
		<td>deckr</td>
		<td>dec2kr</td>
	</tr>
	<tr>
		<th>1a</th>
		<td><a href='#equ'>equ</a></td>
		<td>equ2</td>
		<td>equk</td>
		<td>equ2k</td>
		<td>equ:</td>
		<td>equ2:</td>
		<td>equk:</td>
		<td>equ2k:</td>
	</tr>
	<tr>
		<th>1b</th>
		<td><a href='#gth'>gth</a></td>
		<td>gth2</td>
		<td>gthk</td>
		<td>gth2k</td>
		<td>gth:</td>
		<td>gth2:</td>
		<td>gthk:</td>
		<td>gth2k:</td>
	</tr>
	<tr>
		<th>1c</th>
		<td><a href='#lth'>lth</a></td>
		<td>lth2</td>
		<td>lthk</td>
		<td>lth2k</td>
		<td>lth:</td>
		<td>lth2:</td>
		<td>lthk:</td>
		<td>lth2k:</td>
	</tr>
	<tr>
		<th>1d</th>
		<td><a href='#jmp'>jmp</a></td>
		<td>jmp2</td>
		<td>jmpa</td>
		<td>jmp2a</td>
		<td>jmp:</td>
		<td>jmp2:</td>
		<td>jmpa:</td>
		<td>jmp2a:</td>
	</tr>
	<tr>
		<th>1e</th>
		<td><a href='#jif'>jif</a></td>
		<td>jif2</td>
		<td>jifa</td>
		<td>jif2a</td>
		<td>jif:</td>
		<td>jif2:</td>
		<td>jifa:</td>
		<td>jif2a:</td>
	</tr>
	<tr>
		<th>1f</th>
		<td><a href='#jub'>jub</a></td>
		<td>jub2</td>
		<td>juba</td>
		<td>jub2a</td>
		<td>jub:</td>
		<td>jub2:</td>
		<td>juba:</td>
		<td>jub2a:</td>
	</tr>
  </tbody></table>