<pre>
    <b>BRK</b> a b c
    <b>RET</b> | a b {PC=c}
    <b>FLP</b> | a b c
    
    <b>SFT</b> a b&gt;&gt;c8l&lt;&lt;c8h  <b>LDZ</b> a b [c8]       <b>POP</b> a b      <b>INC</b> a b c+1
    <b>ADD</b> a b+c          <b>STZ</b> a {[c8]=b}     <b>NIP</b> a c      <b>DEC</b> a b c-1
    <b>SUB</b> a b-c          <b>LDR</b> a b [PC+c8]    <b>SWP</b> a c b    <b>EQU</b> a b==c
    <b>MUL</b> a b*c          <b>STR</b> a {[PC+c8]=b}  <b>DIG</b> b c a    <b>GTH</b> a b&gt;c
    <b>DIV</b> a b/c          <b>LDA</b> a b [c16]      <b>DUP</b> a b c c  <b>LTH</b> a b&lt;c
    <b>AND</b> a b&c          <b>STA</b> a {[c16]=b}    <b>OVR</b> a b c b  <b>JMP</b> a b {PC+=c}
    <b>ORA</b> a b|c          <b>DEI</b> a b [D+c8]     <b>STH</b> a b | c  <b>JCN</b> a (b8){PC+=c}
    <b>EOR</b> a b^c          <b>DEO</b> a {[D+c8]=b}   <b>GRB</b> c | a b  <b>JSR</b> a b | PC {PC+=c}
</pre>

