<p>Lakital is the language used to program the Laki virtual machine. It is a concatenative programming language, so each operation is performed in the order it's encountered.</p>
<p>Opcodes are written lowercase, all numerical values are uppercase hexadecimal, and comments are surrounded in parentheses.</p>
<h2>An example program</h2>
<pre>
|10 @Console &vector $2 &read $1 &pad $4 &type $1 &write $1 &error $1
|100
@on-reset ( -> )
  psh2: =msg
  &loop
    labk psh: -Console/write sev
    inc2 labk psh: _&loop jif
  pop2 brk
@msg "Hello 20 "Lakital 00
</pre>
<p>The first line defines an enum for the <a href='takalaki_console.html'>{console device}</a> by setting the program counter to <code>10</code> using the absolute pad rune (<code>|</code>) and defining a <code>Console</code> label. Sublabels for the console ports are then defined with the program counter advanced between them using relative pads (<code>$</code>).</p>
<p>The third line sets the program counter to the entry point <code>100</code> where our program begins. Next a label for the reset vector is defined with a comment enclosed in parentheses indicating this is a vector entry point. The reset vector label and comment aren't strickly required but are good practice.</p>
<p>The 16bit (short) address of the string we wish to print is pushed to the working stack with the <code>psh2:</code> opcode followed by the raw address of the <code>msg</code> label. Next a sublabel is defined using the <code>&</code> rune, which will be used as a jump target when looping over the string characters.</p>
<p><code>labk</code> is used to load a byte from the absolute address on the top of the stack (<code>H</code> from the address of <code>msg</code> initially), with the keep mode ensuring that address is retained on the stack. The device port for console output is pushed to the stack with <code>psh:</code> followed by the raw byte rune <code>-</code> to assemble the port value. Next the the <code>sev</code> opcode sends the string byte to the Console/write port to print it.</p>
<p>The address on the top of the stack is then incremented using <code>inc2</code>, which uses the short mode <code>2</code> as we're dealing with an absolute short address. <code>labk</code> is then used to load the next byte from the string onto the working stack.</p>
<p>The relative distance to the <code>&loop</code> address is then pushed to the stack using the <code>_</code> rune. In Lakital a conditional jump (<code>jif</code>) will occur if the condition byte is any value other than zero. So for any byte up to the final trailing byte the VM will jump back to the <code>&loop</code> label and continue execution.</p>
<p>After the zero byte is loaded, and the jump isn't taken, we use <code>pop2</code> to remove the address from the working stack. Finally we execute <code>brk</code> to break the CPU until the next vector handler is evaluated.</p>
<h2>Runes</h2>
<p>Runes are special prefix characters which change the meaning of the following string. Some of the runes move the program counter (<code>|$</code>), some define labels (<code>@&</code>), some encode the raw low/high/relative address of a label (<code>-_^=</code>), some are shorthand for pushing the low/high/relative address of a label to the working stack (<code>.,':;</code>), and others are shorthand for jumps (<code>?!+*</code>). There are also runes to write literal hex values (<code>#</code>), raw ASCII strings (<code>"</code>), define macros (<code>%</code>), and include lakital source files (<code>~</code>).</p>
<table border='1' style='font-family:monospace'>
	<tr><th colspan="4">Padding Runes</th></tr>
	<tr>
		<td>|</td>
		<td>absolute</td>
		<td>$</td>
		<td>relative</td>
	</tr>
	<tr><th colspan="4">Label Runes</th></tr>
	<tr>
		<td>@</td>
		<td>label</td>
		<td>&</td>
		<td>sublabel</td>
	</tr>
	<tr><th colspan="4">Addressing Runes</th></tr>
	<tr>
		<td>.</td>
		<td>literal low byte</td>
		<td>-</td>
		<td>raw low byte</td>
	</tr>
	<tr>
		<td>'</td>
		<td>literal high byte</td>
		<td>^</td>
		<td>raw high byte</td>
	</tr>
	<tr>
		<td>,</td>
		<td>literal relative byte</td>
		<td>_</td>
		<td>raw relative byte</td>
	</tr>
	<tr>
		<td>:</td>
		<td>literal short</td>
		<td>=</td>
		<td>raw short</td>
	</tr>
	<tr>
		<td>;</td>
		<td colspan="3">literal relative short</td>
	</tr>
	<tr><th colspan="4">Jump Runes</th></tr>
	<tr>
		<td>!</td>
		<td>byte jump</td>
		<td>?</td>
		<td>byte conditional</td>
	</tr>
	<tr>
		<td>!+</td>
		<td>short jump</td>
		<td>?+</td>
		<td>short conditional</td>
	</tr>
	<tr>
		<td>!*</td>
		<td>zero page jump</td>
		<td>?*</td>
		<td>zero page conditional</td>
	</tr>
	<tr>
		<td></td>
		<td>byte subroutine</td>
		<td>+</td>
		<td>short subroutine</td>
	</tr>
	<tr>
		<td>*</td>
		<td colspan="3">zero page subroutine</td>
	</tr>
	<tr><th colspan="4">Data Runes</th></tr>
	<tr>
		<td>#</td>
		<td>literal hexadecimal</td>
		<td>"</td>
		<td>raw ASCII</td>
	</tr>
	<tr><th colspan="4">Preprocessor Runes</th></tr>
	<tr>
		<td>%</td>
		<td>macro definition</td>
		<td>~</td>
		<td>include file</td>
	</tr>
</table><h2>Condensed Example</h2>
<p>By using additional runes (<code>:?</code>) and the immediate mode of <code>sev</code> we can condense the code a little:</p>
<pre>
|10 @Console &vector $2 &read $1 &pad $4 &type $1 &write $1 &error $1
|100
@on-reset ( -> )
  :msg
  &loop
    labk sev: -Console/write
    inc2 labk ?&loop
  pop2 brk
@msg "Hello 20 "Lakital $1
</pre>
<p><code>:msg</code> is equivalent to <code>psh2: =msg</code> and helps condense the common act of pushing a short absolute address to the working stack.</p>
<p>As we aren't computing the address of <code>Console/write</code> we can use <code>sev</code>'s immediate mode. Since the first argument of the <code>sev</code> opcode is a byte, the immediate byte following <code>sev:</code> is used as the device port with the byte on the stack used as the value to write. This saves a byte compared to the original code and only takes a single operation.</p>
<p>The <code>psh:</code> and <code>jif</code> combination is converted into conditional jump using the <code>?</code> rune. As with <code>sev:</code> this saves a byte, uses one less operation, and is generally easier to read.</p>
<p>Finally, the null terminator ot the <code>msg</code> string has been changed to a relative pad <code>$1</code> which will be assemled as a zero. This doesn't save any space, and is more of a style that people may or may not prefer.</p>
<h2>Byte vs Short vs Zero Page Jumps</h2>
<p>The jump runes default to byte-length relative jumps. Short-length jumps can be indicated by adding a + sign, such as <code>+func</code>, <code>?+func</code>, or <code>!+func</code>. This also applies to lambdas. Similar to short jumps, zero page pointer jumps can be indicated by adding a <code>*</code> following the rune. For example: <code>*func</code>, <code>?*func</code>, or <code>!*func</code>.</p>