<table border='1' style='font-family:monospace'>
	<tr><th colspan="4">Padding Runes</th></tr>
	<tr>
		<td>|</td>
		<td>absolute</td>
		<td>$</td>
		<td>relative</td>
	</tr>
	<tr><th colspan="4">Label Runes</th></tr>
	<tr>
		<td>@</td>
		<td>label</td>
		<td>&</td>
		<td>sublabel</td>
	</tr>
	<tr><th colspan="4">Addressing Runes</th></tr>
	<tr>
		<td>.</td>
		<td>literal low byte</td>
		<td>-</td>
		<td>raw low byte</td>
	</tr>
	<tr>
		<td>'</td>
		<td>literal high byte</td>
		<td>^</td>
		<td>raw high byte</td>
	</tr>
	<tr>
		<td>,</td>
		<td>literal relative byte</td>
		<td>_</td>
		<td>raw relative byte</td>
	</tr>
	<tr>
		<td>:</td>
		<td>literal short</td>
		<td>=</td>
		<td>raw short</td>
	</tr>
	<tr>
		<td>;</td>
		<td colspan="3">literal relative short</td>
	</tr>
	<tr><th colspan="4">Jump Runes</th></tr>
	<tr>
		<td>!</td>
		<td>byte jump</td>
		<td>?</td>
		<td>byte conditional</td>
	</tr>
	<tr>
		<td>!+</td>
		<td>short jump</td>
		<td>?+</td>
		<td>short conditional</td>
	</tr>
	<tr>
		<td>!*</td>
		<td>zero page jump</td>
		<td>?*</td>
		<td>zero page conditional</td>
	</tr>
	<tr>
		<td></td>
		<td>byte subroutine</td>
		<td>+</td>
		<td>short subroutine</td>
	</tr>
	<tr>
		<td>*</td>
		<td colspan="3">zero page subroutine</td>
	</tr>
	<tr><th colspan="4">Data Runes</th></tr>
	<tr>
		<td>#</td>
		<td>literal hexadecimal</td>
		<td>"</td>
		<td>raw ASCII</td>
	</tr>
	<tr><th colspan="4">Preprocessor Runes</th></tr>
	<tr>
		<td>%</td>
		<td>macro definition</td>
		<td>~</td>
		<td>include file</td>
	</tr>
</table>