<pre>
    <b>BRK</b> a b c
    <b>RET</b> | a b {PC=c}
    <b>FLP</b> | a b c
    <b>SFP</b> a b {F=c8&lt;&lt;8}
    
    <b>SFT</b> a b&gt;&gt;c8l&lt;&lt;c8h  <b>LDF</b> a b ram[F+c8]    <b>POP</b> a b      <b>INC</b> a b c+1
    <b>ADD</b> a b+c          <b>STF</b> a {ram[F+c8]=b}  <b>NIP</b> a c      <b>DEC</b> a b c-1
    <b>SUB</b> a b-c          <b>LDA</b> a b ram[c16]     <b>SWP</b> a c b    <b>NOT</b> a b !c
    <b>MUL</b> a b*c          <b>STA</b> a {ram[c16]=b}   <b>DIG</b> b c a    <b>EQU</b> a b==c
    <b>DIV</b> a b/c          <b>LDR</b> a b rom[c16]     <b>DUP</b> a b c c  <b>GTH</b> a b&gt;c
    <b>AND</b> a b&c          <b>CPY</b> a+c b+c          <b>OVR</b> a b c b  <b>LTH</b> a b&lt;c
    <b>ORA</b> a b|c          <b>DEI</b> a b [D+c8]       <b>STH</b> a b | c  <b>JMP</b> a b {PC+=c}
    <b>EOR</b> a b^c          <b>DEO</b> a {[D+c8]=b}     <b>GRB</b> c | a b  <b>JSR</b> a b | PC {PC+=c}
</pre>

