<table>
	<tr>
		<th rowspan='8'>controller</th>
		<th>80</th><td rowspan="2">vector*</td><th>88</th><td>--</td>
	</tr>
	<tr><th>81</th><th>89</th><td>--</td></tr>
	<tr><th>82</th><td>button</td><th>8a</th><td>--</td></tr>
	<tr><th>83</th><td>key</td><th>8b</th><td>--</td></tr>
	<tr><th>84</th><td>--</td><th>8c</th><td>--</td></tr>
	<tr><th>85</th><td>--</td><th>8d</th><td>--</td></tr>
	<tr><th>86</th><td>--</td><th>8e</th><td>--</td></tr>
	<tr><th>87</th><td>--</td><th>8f</th><td>--</td></tr>
</table>