<table>
	<tr><th colspan='4'>Takalaki</th>
	<tr><th>00</th><td><a href="takalaki_system.html">system</a></td><th>80</th><td><a href="takalaki_controller.html">controller</a></td></tr>
	<tr><th>10</th><td><a href="takalaki_console.html">console</a></td><th>90</th><td><a href="takalaki_mouse.html">mouse</a></td></tr>
	<tr><th>20</th><td><a href="takalaki_screen.html">screen</a></td><th>a0</th><td rowspan="2"><a href="takalaki_file.html">file</a></td></tr>
	<tr><th>30</th><td><a href="takalaki_raster.html">raster</a></th><th>b0</th></tr>
	<tr><th>40</th><td rowspan="4"><a href="takalaki_audio.html">audio</a></td><th>c0</th><td><a href="takalaki_datetime.html">datetime</a></td></tr>
	<tr><th>50</th><th>d0</th><td><a href="takalaki_mmu.html">mmu</a></td></tr>
	<tr><th>60</th><th>e0</th><td>--</td></tr>
	<tr><th>70</th><th>f0</th><td>--</td></tr>
</table>