<table>
	<tr>
		<th rowspan='8'>file</th>
		<th>a0</th><td rowspan="2">vector*</td><th>a8</th><td rowspan="2">name*</td>
	</tr>
	<tr><th>a1</th><th>a9</th></tr>
	<tr><th>a2</th><td rowspan="2">success*</td><th>aa</th><td rowspan="2">length*</td></tr>
	<tr><th>a3</th><th>ab</th></tr>
	<tr><th>a4</th><td rowspan="2">stat*</td><th>ac</th><td rowspan="2">read*</td></tr>
	<tr><th>a5</th><th>ad</th></tr>
	<tr><th>a6</th><td>delete</td><th>ae</th><td rowspan="2">write*</td></tr>
	<tr><th>a7</th><td>append</td><th>af</th></tr>
</table>