<table>
	<tr>
		<th rowspan='8'>system</th>
		<th>00</th><td rowspan="2">vector*</td><th>08</th><td>--</td>
	</tr>
	<tr><th>01</th><th>09</th><td>--</td></tr>
	<tr><th>02</th><td rowspan='2'>expansion*</td><th>0a</th><td>--</td></tr>
	<tr><th>03</th><th>0b</th><td>--</td></tr>
	<tr><th>04</th><td>wst</td><th>0c</th><td>--</td></tr>
	<tr><th>05</th><td>rst</td><th>0d</th><td>--</td></tr>
	<tr><th>06</th><td>--</td><th>0e</th><td>debug</td></tr>
	<tr><th>07</th><td>--</td><th>0f</th><td>state</td></tr>
</table>
<h3>Vector</h3>
<p>The system vector is evaluated when a system shutdown has been requested, either by the host (via an aplication close event) or the program (by writing a non-zero value to the <code>state</code> port).</p>
<p>If the <code>state</code> port is set to <code>0</code> at the time this vector handler completes the system shutdown will be aborted and normal vector evalation will resume.</p>
<h3>Expansion</h3>
<h3>WST/RST</h3>
<h3>Debug</h3>
<p>Writing a non-zero value to the debug port will print out the working and return stack states to the console. In an emulator with a debugger this will also trigger a breakpoint.</p>
<h3>State</h3>
<p>When a non-zero value is written to the state port the system will initiate a system shutdown. If the vector is defined the handler will be evaluated first, which may prevent shutdown.</p>
