<table>
	<tr>
		<th rowspan='8'>console</th>
		<th>10</th><td rowspan="2">vector*</td><th>18</th><td>write</td>
	</tr>
	<tr><th>11</th><th>19</th><td>error</td></tr>
	<tr><th>12</th><td>read</td><th>1a</th><td>--</td></tr>
	<tr><th>13</th><td>--</td><th>1b</th><td>--</td></tr>
	<tr><th>14</th><td>--</td><th>1c</th><td>--</td></tr>
	<tr><th>15</th><td>--</td><th>1d</th><td>--</td></tr>
	<tr><th>16</th><td>--</td><th>1e</th><td>--</td></tr>
	<tr><th>17</th><td>type</td><th>1f</th><td>--</td></tr>
</table>