<table>
	<tr>
		<th rowspan='8'>screen</th>
		<th>20</th><td rowspan="2">vector*</td><th>28</th><td rowspan="2">x*</td>
	</tr>
	<tr><th>21</th><th>29</th></tr>
	<tr><th>22</th><td rowspan="2">width*</td><th>2a</th><td rowspan="2">y*</td></tr>
	<tr><th>23</th><th>2b</th></tr>
	<tr><th>24</th><td rowspan="2">height*</td><th>2c</th><td rowspan="2">addr*</td></tr>
	<tr><th>25</th><th>2d</th></tr>
	<tr><th>26</th><td>enable</td><th>2e</th><td>pixel</td></tr>
	<tr><th>27</th><td>auto</td><th>2f</th><td>sprite</td></tr>
</table>

<h3>Vector</h3>
<p>The screen vector is evaluated 60 times a second, or as close as is possible if handling all pending vectors takes longer than 1/60 second.</p>
<h3>Height/Width</h3>
<p>The screen height and width can be set by writing to their respective ports. Some Takalaki implementations may be unable to adjust to the requested dimensions, so programs should read from these ports after writing them to confirm the actual size and try to adapt the program to suit the actual size.</p>
<h3>Enable</h3>
<p>Controls which layers are enabled. By default layers are drawn front-to-back in the order: fg > tile0 > bg > tile1. The drawing order can be adjusted by setting the tile priority bit (see `tiles`). By default only the fg and bg layers are enabled, for common non-raster use cases. All 4 colors can be opaque on both fg and bg layers. Blend mode 0 can be used to clear previously drawn foreground regions.</p>
<pre>                  x x x W  1 0 B F<br>Unused        ----+ | | |  | | | +---- FG enable<br>Unused        ------+ | |  | | +------ BG enable<br>Unused        --------+ |  | +-------- Tile0 enable<br>Window enable ----------+  +---------- Tile1 enable</pre>
<h3>Auto</h3>
<p>The <code>auto</code> port is used by the <code>pixel</code> and <code>sprite</code> ports to automatically advance the <code>x</code>, <code>y</code>, and <code>addr</code> ports, as well as repeating the given operation up to 31 additional times. Pay special attention to the auto x/y behavior, as it may not be intuitive at first: For auto-x, each auto-repeated pixel/sprite operation will be performed at an incremented <b>y</b>, and after the repeats are done will advance <code>x</code> permanently. Auto-y will perform repeated operations at an incremented <b>x</b>, and in the end advace <code>y</code> permanently.</p>
<pre>         A Y X R  R R R R<br>Addr ----+ | | +--+-+-+-+---- Repeat<br>Y    ------+ |<br>X    --------+<br></pre>
<h3>X/Y</h3>
<p>These ports are used to store coordinates for:</p>
<ul>
<li><code>pixel</code> and <code>sprite</code> operations</li>
<li>Raster <code>position</code> operations (window edges and tile layer scrolling)</li>
</ul>
<h3>Addr</h3>
<p>This port stores an address in memory to point to:</p>
<ul>
<li>Tile data for the <code>sprite</code> operation</li>
<li>Tilemap data for the Raster <code>maps</code> operation (only when the <code>Set addr</code> bit is set)</li>
<li>Tile data for the Raster <code>tiles</code> operation (only when the <code>Set addr</code> bit is set)</li>
</ul>
<h3>Pixel</h3>
<p>The <code>pixel</code> operation allows drawing single pixels to the fg/bg layers as well as filling rectangular regions of those layers.</p>
<p>To draw a pixel on the fg layer write the color (0-3) to the port. To draw on the bg layer also set the layer bit (0x40). To clear drawn pixels set the transparent bit (bit 2), which is can be helpful for clearing color 0 on the foreground layer.</p>
<p>When the <code>fill</code> bit is set a quadrant of the screen defined by the <code>x</code> and <code>y</code> ports and the flip flags will be filled. With no flips enabled the top left quadrant will be filled. Enabling <code>Flip X</code> will fill the top right quadrant, and so on. When both the <code>Fill</code> and <code>Window</code> bits are set the region defined by the raster device's window will be filled.</p>
<pre>           F L Y X  W T C C<br>Fill   ----+ | | |  | | +-+---- Color<br>Layer  ------+ | |  | +-------- Transparent<br>Flip Y --------+ |  +---------- Window<br>Flip X ----------+</pre>
<h3>Sprite</h3>
<p>The sprite operation allows 8x8 tiles to be drawn to the fg and bg layers.</p>

<table border='1' style='float:right;margin-left:15px'>
	<tr>
		<td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" class='palette bg0'></svg></td>
		<td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" class='palette bg1'></svg></td>
		<td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" class='palette bg2'></svg></td>
		<td colspan="2"><svg xmlns="http://www.w3.org/2000/svg" class='palette bg3'></svg></td>
	</tr>
	<tr>
		<th>0</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bga'><rect x="0" y="0" width="6" height="4" style="fill:#999"/><rect x="6" y="4" width="6" height="4" style="fill:#999"/><rect x="0" y="8" width="12" height="12" class='fg0'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>4</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg1'><rect x="0" y="8" width="12" height="12" class='fg0'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>8</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg2 fg0'><rect x="0" y="8" width="12" height="12" class='fg0'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>c</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg3 fg0'><rect x="0" y="8" width="12" height="12" class='fg0'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
	</tr>
	<tr>
		<th>1</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg0'><rect x="0" y="8" width="12" height="12" class='fg1'/><rect x="12" y="8" width="8" height="12" class='fg2'/><rect x="12" y="0" width="8" height="8" class='fg3'/></svg></td>
		<th>5</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bga'><rect x="0" y="0" width="6" height="4" style="fill:#999"/><rect x="6" y="4" width="6" height="4" style="fill:#999"/><rect x="0" y="8" width="12" height="12" class='fg1'/><rect x="12" y="8" width="8" height="12" class='fg2'/><rect x="12" y="0" width="8" height="8" class='fg3'/></svg></td>
		<th>9</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg2'><rect x="0" y="8" width="12" height="12" class='fg1'/><rect x="12" y="8" width="8" height="12" class='fg2'/><rect x="12" y="0" width="8" height="8" class='fg3'/></svg></td>
		<th>d</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg3'><rect x="0" y="8" width="12" height="12" class='fg1'/><rect x="12" y="8" width="8" height="12" class='fg2'/><rect x="12" y="0" width="8" height="8" class='fg3'/></svg></td>
	</tr>
	<tr>
		<th>2</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg0'><rect x="0" y="8" width="12" height="12" class='fg2'/><rect x="12" y="8" width="8" height="12" class='fg3'/><rect x="12" y="0" width="8" height="8" class='fg1'/></svg></td>
		<th>6</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg1'><rect x="0" y="8" width="12" height="12" class='fg2'/><rect x="12" y="8" width="8" height="12" class='fg3'/><rect x="12" y="0" width="8" height="8" class='fg1'/></svg></td>
		<th>a</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bga'><rect x="0" y="0" width="6" height="4" style="fill:#999"/><rect x="6" y="4" width="6" height="4" style="fill:#999"/><rect x="0" y="8" width="12" height="12" class='fg2'/><rect x="12" y="8" width="8" height="12" class='fg3'/><rect x="12" y="0" width="8" height="8" class='fg1'/></svg></td>
		<th>e</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg3'><rect x="0" y="8" width="12" height="12" class='fg2'/><rect x="12" y="8" width="8" height="12" class='fg3'/><rect x="12" y="0" width="8" height="8" class='fg1'/></svg></td>
	</tr>
	<tr>
		<th>3</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg0'><rect x="0" y="8" width="12" height="12" class='fg3'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>7</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg1'><rect x="0" y="8" width="12" height="12" class='fg3'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>b</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bg2'><rect x="0" y="8" width="12" height="12" class='fg3'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
		<th>f</th><td><svg xmlns="http://www.w3.org/2000/svg" class='sprite bga'><rect x="0" y="0" width="6" height="4" style="fill:#999"/><rect x="6" y="4" width="6" height="4" style="fill:#999"/><rect x="0" y="8" width="12" height="12" class='fg3'/><rect x="12" y="8" width="8" height="12" class='fg1'/><rect x="12" y="0" width="8" height="8" class='fg2'/></svg></td>
	</tr>
</table>

<style>
svg.palette { width:44px; height:20px; margin-bottom:0px }
svg.sprite { width:20px; height:20px; margin-bottom:0px }
.empty { color:#888; }
.bga { background:#ccc }
.bg0 { background:#eee }
.bg1 { background:#034; color:#eee; }
.bg2 { background:#dba; color:#034; }
.bg3 { background:#c44; color:#034; }
.fg0 { fill:#eee; }
.fg1 { fill:#034; }
.fg2 { fill:#dba; }
.fg3 { fill:#c44; }
code.button { background: #000; color: white; font-size: smaller; display: inline-block; padding: 0px 6px; font-weight: bold; border-radius: 2px; line-height: 22px }
</style>

<p>The lower nibble written to the <code>sprite</code> port defines which of the 16 blend modes to use. If the <code>2bpp</code> bit is set a 2bpp tile will be drawn instead of 1bpp. If the <code>Layer</code> bit is set the bg layer will be drawn to instead of the fg layer. The flip bits can be used to draw the tiles flipped. Example blending table based on <a href='https://wiki.xxiivv.com/site/varvara.html#screen' target='_blank'>xxiivv's Varvara docs</a>, using a modified <a href='https://lospec.com/palette-list/mononoke-san' target='_blank'>Mononoke-san palette</a>.</p>
<pre>           2 L Y X  B B B B<br>2bpp   ----+ | | |  +-+-+-+---- Blend mode<br>Layer  ------+ | |<br>Flip Y --------+ |  <br>Flip X ----------+</pre>
