<table>
	<tr>
		<th rowspan='8'>MMU</th>
		<th>d0</th><td rowspan="2">source*/value</td><th>d8</th><td>--</td>
	</tr>
	<tr><th>d1</th><th>d9</th><td>--</td></tr>
	<tr><th>d2</th><td rowspan='2'>destination*</td><th>da</th><td>--</td></tr>
	<tr><th>d3</th><th>db</th><td>--</td></tr>
	<tr><th>d4</th><td rowspan='2'>srcOffset*</td><th>dc</th><td rowspan='2'>length*</td></tr>
	<tr><th>d5</th><th>dd</th></tr>
	<tr><th>d6</th><td rowspan='2'>dstOffset*</td><th>de</th><td>cmd</td></tr>
	<tr><th>d7</th><th>df</th><td>bank</td></tr>
</table>
