<table>
	<tr>
		<th rowspan='8'>datetime</th>
		<th>c0</th><td rowspan="2">year*</td><th>c8</th><td rowspan="2">doty</td>
	</tr>
	<tr><th>c1</th><th>c9</th></tr>
	<tr><th>c2</th><td>month</td><th>ca</th><td>isdst</td></tr>
	<tr><th>c3</th><td>day</td><th>cb</th><td>--</td></tr>
	<tr><th>c4</th><td>hour</td><th>cc</th><td>--</td></tr>
	<tr><th>c5</th><td>minute</td><th>cd</th><td>--</td></tr>
	<tr><th>c6</th><td>second</td><th>ce</th><td>--</td></tr>
	<tr><th>c7</th><td>dotw</td><th>cf</th><td>--</td></tr>
</table>