<table>
	<tr>
		<th rowspan='8'>audio</th>
		<th>40</th><td rowspan="2">vector*</td><th>48</th><td rowspan="2">adsr*</td>
	</tr>
	<tr><th>41</th><th>49</th></tr>
	<tr><th>42</th><td rowspan="2">position*</td><th>4a</th><td rowspan="2">length*</td></tr>
	<tr><th>43</th><th>4b</th></tr>
	<tr><th>44</th><td>output</td><th>4c</th><td rowspan="2">addr*</td></tr>
	<tr><th>45</th><td>--</td><th>4d</th></tr>
	<tr><th>46</th><td>--</td><th>4e</th><td>volume</td></tr>
	<tr><th>47</th><td>--</td><th>4f</th><td>pitch</td></tr>
</table>