<table>
	<tr>
		<th rowspan='8'>mouse</th>
		<th>90</th><td rowspan="2">vector*</td><th>98</th><td>--</td>
	</tr>
	<tr><th>91</th><th>99</th><td>--</td></tr>
	<tr><th>92</th><td rowspan="2">x*</td><th>9a</th><td rowspan="2">scrollx*</td></tr>
	<tr><th>93</th><th>9b</th></tr>
	<tr><th>94</th><td rowspan="2">y*</td><th>9c</th><td rowspan="2">scrolly*</td></tr>
	<tr><th>95</th><th>9d</th></tr>
	<tr><th>96</th><td>button</td><th>9e</th><td>--</td></tr>
	<tr><th>97</th><td>--</td><th>9f</th><td>--</td></tr>
</table>