<table>
	<tr>
		<th rowspan='8'>raster</th>
		<th>30</th><td rowspan="2">vector*</td><th>38</th><td>window</td>
	</tr>
	<tr><th>31</th><th>39</th><td>position</td></tr>
	<tr><th>32</th><td rowspan="2">color*</td><th>3a</th><td>maps</td></tr>
	<tr><th>33</th><th>3b</th><td>tiles</td></tr>
	<tr><th>34</th><td rowspan="2">match*</td><th>3c</th><td>--</td></tr>
	<tr><th>35</th><th>3d</th><td>--</td></tr>
	<tr><th>36</th><td rowspan="2">line*</td><th>3e</th><td>--</td></tr>
	<tr><th>37</th><th>3f</th><td>--</td></tr>
</table>