<table>
<tr>
<td>Value</td>
<td>Mnemonic</td>
<td>Effect</td>
<td>Description</td>
</tr>
<tr>
<td>0x00</td>
<td>BRK</td>
<td></td>
<td>Stop vector evaluation</td>
</tr>
<tr>
<td>0x01</td>
<td>RET</td>
<td></td>
<td>Pop rstack to IP</td>
</tr>
<tr>
<td>0x02</td>
<td>JMP</td>
<td>a --</td>
<td>Set IP to top value on pstack</td>
</tr>
<tr>
<td>0x03</td>
<td>JMR</td>
<td>a --</td>
<td>Push IP+1 to the rstack, then set IP to the top value on pstack</td>
</tr>
<tr>
<td>0x04</td>
<td>JCN</td>
<td>f a --</td>
<td>Set IP to top value on pstack if the second value is non-zero</td>
</tr>
<tr>
<td>0x05</td>
<td>JCR</td>
<td>f a --</td>
<td>If the second value on pstack is non-zero, JMR</td>
</tr>
<tr>
<td>0x06</td>
<td>LIT</td>
<td>-- a</td>
<td>Push the following value to the pstack</td>
</tr>
<tr>
<td>0x07</td>
<td>POP</td>
<td>a --</td>
<td>Pop the top of the pstack</td>
</tr>
<tr>
<td>0x08</td>
<td>DUP</td>
<td>a -- a a</td>
<td>Duplicate the top of the pstack</td>
</tr>
<tr>
<td>0x09</td>
<td>SWP</td>
<td>a b - b a</td>
<td>Swap the top two items on the pstack</td>
</tr>
<tr>
<td>0x0a</td>
<td>ROT</td>
<td>a b c -- b c a</td>
<td>Rotate the 3rd item on the pstack to the top</td>
</tr>
<tr>
<td>0x0b</td>
<td>OVR</td>
<td>a b -- a b a</td>
<td>Copy the second value on the pstack to the top</td>
</tr>
<tr>
<td>0x0c</td>
<td>PSH</td>
<td>a --</td>
<td>Pop the top pstack value and push it to the rstack</td>
</tr>
<tr>
<td>0x0d</td>
<td>PUL</td>
<td>-- a</td>
<td>Pop the top rstack value and push it to the pstack</td>
</tr>
<tr>
<td>0x0e</td>
<td>RSI</td>
<td></td>
<td>Copy the first value on the rstack to the top of the pstack</td>
</tr>
<tr>
<td>0x0f</td>
<td>RSJ</td>
<td></td>
<td>Copy the second value on the rstack to the top of the pstack</td>
</tr>
<tr>
<td>0x10</td>
<td>STA</td>
<td>n a --</td>
<td>Store the second value on the pstack to the first value's address</td>
</tr>
<tr>
<td>0x11</td>
<td>LDA</td>
<td>a -- n</td>
<td>Load value from address and push to pstack</td>
</tr>
<tr>
<td>0x12</td>
<td>STB</td>
<td>n a --</td>
<td>Store the second value on the pstack in the buffer at the first value's address</td>
</tr>
<tr>
<td>0x13</td>
<td>LDB</td>
<td>a -- n</td>
<td>Load value from buffer address and push to pstack</td>
</tr>
<tr>
<td>0x14</td>
<td>ADD</td>
<td>a b -- a+b</td>
<td>Add top two values on the pstack</td>
</tr>
<tr>
<td>0x15</td>
<td>SUB</td>
<td>a b -- a-b</td>
<td>Subtract first value on the pstack from the second</td>
</tr>
<tr>
<td>0x16</td>
<td>INC</td>
<td>a -- a+1</td>
<td>Increment top value on the pstack</td>
</tr>
<tr>
<td>0x17</td>
<td>DEC</td>
<td>a -- a-1</td>
<td>Decrement top value on the pstack</td>
</tr>
<tr>
<td>0x18</td>
<td>MUL</td>
<td>a b -- a*b</td>
<td>Multiply top two values on the pstack</td>
</tr>
<tr>
<td>0x19</td>
<td>DIV</td>
<td>a b -- a/b</td>
<td>Divide second value on the pstack by the first</td>
</tr>
<tr>
<td>0x1a</td>
<td>MOD</td>
<td>a b -- a%b</td>
<td>Modulo the second value on the pstack by the first</td>
</tr>
<tr>
<td>0x1b</td>
<td>RND</td>
<td>-- a</td>
<td>Push a random value (0-255) to the pstack</td>
</tr>
<tr>
<td>0x1c</td>
<td>EQU</td>
<td>a b -- a==b</td>
<td>Push if the top two pstack values are equal (1) or not equal (0) to the pstack</td>
</tr>
<tr>
<td>0x1d</td>
<td>NEQ</td>
<td>a b -- a!=b</td>
<td>Push if the top two pstack values are not equan (1) or equal (0) to the pstack</td>
</tr>
<tr>
<td>0x1e</td>
<td>GTH</td>
<td>a b -- a>b</td>
<td>Push if the second pstack value is greater than the first (1) or not (0)</td>
</tr>
<tr>
<td>0x1f</td>
<td>LTH</td>
<td>a b -- a<b</td>
<td>Push if the second pstack value is less than the first (1) or not (0)</td>
</tr>
<tr>
<td>0x20</td>
<td>AND</td>
<td>a b -- a&b</td>
<td>Push the bitwise AND of the top two values on the pstack</td>
</tr>
<tr>
<td>0x21</td>
<td>ORR</td>
<td>a b -- a b</td>
<td>Push the bitwise OR of the top two values on the pstack</td>
</tr>
<tr>
<td>0x22</td>
<td>XOR</td>
<td>a b -- a^b</td>
<td>Push the bitwise XOR of the top two values on the pstack</td>
</tr>
<tr>
<td>0x23</td>
<td>SFT</td>
<td>a b -- a>>bl&lt;&lt;bh</td>
<td>Shift the second value on the pstack right by the low nibble of the first value, then left by the high nibble of the first value</td>
</tr>
<tr>
<td>0x24</td>
<td>CLS</td>
<td></td>
<td>Clear the screen</td>
</tr>
<tr>
<td>0x25</td>
<td>SET</td>
<td>a f --</td>
<td>Set the pixel <code>a</code> if <code>f!=0</code>, clear otherwise</td>
</tr>
<tr>
<td>0x26</td>
<td>GET</td>
<td>a -- f</td>
<td>Push the state of the pixel <code>a</code> to the pstack</td>
</tr>
<tr>
<td>0x27</td>
<td>KEY</td>
<td>-- k</td>
<td>Push the value the controller to the pstack</td>
</tr>
<tr>
<td>0x28</td>
<td>FRM</td>
<td>-- f</td>
<td>Push the value of the frame to the pstack</td>
</tr>
</table>
