

<table>
	<tr><th colspan="2">Uxntal</th><th>Lakital</th></tr>
	<tr><th>BRK</th><td>BRK</td><td>brk</td></tr>
	<tr><th rowspan="4">LIT</th><td>LIT</td><td>psh:</td></tr>
	<tr><td>LITr</td><td>pshr:</td></tr>
	<tr><td>LIT2</td><td>psh2:</td></tr>
	<tr><td>LIT2r</td><td>psh2r:</td></tr>
	<tr><th rowspan="8">INC</th><td>INC</td><td>inc</td></tr>
	<tr><td>INC2</td><td>inc2</td></tr>
	<tr><td>INCr</td><td>incr</td></tr>
	<tr><td>INC2r</td><td>inc2r</td></tr>
	<tr><td>INCk</td><td>inck</td></tr>
	<tr><td>INC2k</td><td>inc2k</td></tr>
	<tr><td>INCkr</td><td>inckr</td></tr>
	<tr><td>INC2kr</td><td>inc2k</td></tr>
	<tr><th rowspan="8">POP</th><td>POP</td><td>pop</td></tr>
	<tr><td>POP2</td><td>pop2</td></tr>
	<tr><td>POPr</td><td>popr</td></tr>
	<tr><td>POP2r</td><td>pop2r</td></tr>
	<tr><td>POPk</td><td>-</td></tr>
	<tr><td>POP2k</td><td>-</td></tr>
	<tr><td>POPkr</td><td>-</td></tr>
	<tr><td>POP2kr</td><td>-</td></tr>
	<tr><th rowspan="8">NIP</th><td>NIP</td><td>nip</td></tr>
	<tr><td>NIP2</td><td>nip2</td></tr>
	<tr><td>NIPr</td><td>nipr</td></tr>
	<tr><td>NIP2r</td><td>nip2r</td></tr>
	<tr><td>NIPk</td><td>dup</td></tr>
	<tr><td>NIP2k</td><td>dup2</td></tr>
	<tr><td>NIPkr</td><td>dupr</td></tr>
	<tr><td>NIP2kr</td><td>dup2r</td></tr>
	<tr><th rowspan="8">SWP</th><td>SWP</td><td>swp</td></tr>
	<tr><td>SWP2</td><td>swp2</td></tr>
	<tr><td>SWPr</td><td>swpr</td></tr>
	<tr><td>SWP2r</td><td>swp2r</td></tr>
	<tr><td>SWPk</td><td>dup2 swp</td></tr>
	<tr><td>SWP2k</td><td>ovr2 ovr2 swp2</td></tr>
	<tr><td>SWPkr</td><td>dup2r swpr</td></tr>
	<tr><td>SWP2kr</td><td>ovr2r ovr2r swp2r</td></tr>
	<tr><th rowspan="8">ROT</th><td>ROT</td><td>dig</td></tr>
	<tr><td>ROT2</td><td>dig2</td></tr>
	<tr><td>ROTr</td><td>digr</td></tr>
	<tr><td>ROT2r</td><td>dig2r</td></tr>
	<tr><td>ROTk</td><td>digk</td></tr>
	<tr><td>ROT2k</td><td>dig2k</td></tr>
	<tr><td>ROTkr</td><td>digkr</td></tr>
	<tr><td>ROT2kr</td><td>dig2kr</td></tr>
	<tr><th rowspan="8">DUP</th><td>DUP</td><td>dup</td></tr>
	<tr><td>DUP2</td><td>dup2</td></tr>
	<tr><td>DUPr</td><td>dupr</td></tr>
	<tr><td>DUP2r</td><td>dup2r</td></tr>
	<tr><td>DUPk</td><td>dup dup</td></tr>
	<tr><td>DUP2k</td><td>dup2 dup2</td></tr>
	<tr><td>DUPkr</td><td>dupr dupr</td></tr>
	<tr><td>DUP2kr</td><td>dup2r dup2r</td></tr>
	<tr><th rowspan="8">STH</th><td>STH</td><td>sth</td></tr>
	<tr><td>STH2</td><td>sth2</td></tr>
	<tr><td>STHr</td><td>sthr</td></tr>
	<tr><td>STH2r</td><td>sth2r</td></tr>
	<tr><td>STHk</td><td>sthk</td></tr>
	<tr><td>STH2k</td><td>sth2k</td></tr>
	<tr><td>STHkr</td><td>sthkr</td></tr>
	<tr><td>STH2kr</td><td>sth2kr</td></tr>
	<tr><th rowspan="8">EQU</th><td>EQU</td><td>equ</td></tr>
	<tr><td>EQU2</td><td>equ2</td></tr>
	<tr><td>EQUr</td><td>flp equ flp</td></tr>
	<tr><td>EQU2r</td><td>flp equ2 flp</td></tr>
	<tr><td>EQUk</td><td>equk</td></tr>
	<tr><td>EQU2k</td><td>equ2k</td></tr>
	<tr><td>EQUkr</td><td>flp equk flp</td></tr>
	<tr><td>EQU2kr</td><td>Flp equ2k flp</td></tr>
	<tr><th rowspan="8">NEQ</th><td>NEQ</td><td>equ equ: 00</td></tr>
	<tr><td>NEQ2</td><td>equ2 equ2: 00</td></tr>
	<tr><td>NEQr</td><td>flp equ equ: 00 flp</td></tr>
	<tr><td>NEQ2r</td><td>flp equ2 equ2: 00 flp</td></tr>
	<tr><td>NEQk</td><td>equk equ: 00</td></tr>
	<tr><td>NEQ2k</td><td>equ2k equ2: 00</td></tr>
	<tr><td>NEQkr</td><td>flp equk equ: 00 flp</td></tr>
	<tr><td>NEQ2kr</td><td>flp equ2k equ2: 00 flp</td></tr>
	<tr><th rowspan="8">GTH</th><td>GTH</td><td>gth</td></tr>
	<tr><td>GTH2</td><td>gth2</td></tr>
	<tr><td>GTHr</td><td>flp gth flp</td></tr>
	<tr><td>GTH2r</td><td>flp gth2 flp</td></tr>
	<tr><td>GTHk</td><td>gthk</td></tr>
	<tr><td>GTH2k</td><td>gth2k</td></tr>
	<tr><td>GTHkr</td><td>flp gthk flp</td></tr>
	<tr><td>GTH2kr</td><td>flp gth2k flp</td></tr>
	<tr><th rowspan="8">LTH</th><td>LTH</td><td>lth</td></tr>
	<tr><td>LTH2</td><td>lth2</td></tr>
	<tr><td>LTHr</td><td>flp lth flp</td></tr>
	<tr><td>LTH2r</td><td>flp lth2 flp</td></tr>
	<tr><td>LTHk</td><td>lthk</td></tr>
	<tr><td>LTH2k</td><td>lth2k</td></tr>
	<tr><td>LTHkr</td><td>flp lthk flp</td></tr>
	<tr><td>LTH2kr</td><td>flp lth2k flp</td></tr>
	<tr><th rowspan="8">JMP</th><td>JMP</td><td>jmp</td></tr>
	<tr><td>JMP2</td><td>jmp2a</td></tr>
	<tr><td>JMPr</td><td>sth jmp</td></tr>
	<tr><td>JMP2r</td><td>ret</td></tr>
	<tr><td>JMPk</td><td>dup jmp</td></tr>
	<tr><td>JMP2k</td><td>dup2 jmp2a</td></tr>
	<tr><td>JMPkr</td><td>sthkr jmp</td></tr>
	<tr><td>JMP2kr</td><td>dup2r ret</td></tr>
	<tr><th rowspan="8">JCN</th><td>JCN</td><td>jif</td></tr>
	<tr><td>JCN2</td><td>jif2a</td></tr>
	<tr><td>JCNr</td><td>sth2r jif</td></tr>
	<tr><td>JCN2r</td><td>sthr sth2r dig jif</td></tr>
	<tr><td>JCNk</td><td>dup2 jif</td></tr>
	<tr><td>JCN2k</td><td>digk dig dig jif2a</td></tr>
	<tr><td>JCNkr</td><td>sth2kr jif</td></tr>
	<tr><td>JCN2kr</td><td>sthr sth2kr dig sthk jif</td></tr>
	<tr><th rowspan="8">JSR</th><td>JSR</td><td>jub</td></tr>
	<tr><td>JSR2</td><td>jub2a</td></tr>
	<tr><td>JSRr</td><td>-</td></tr>
	<tr><td>JSR2r</td><td>flp jub2a</td></tr>
	<tr><td>JSRk</td><td>-</td></tr>
	<tr><td>JSR2k</td><td>dup2 jub2a</td></tr>
	<tr><td>JSRkr</td><td>-</td></tr>
	<tr><td>JSR2kr</td><td>flp dup2 jub2a</td></tr>
	<tr><th rowspan="8">STH</th><td>STH</td><td>sth</td></tr>
	<tr><td>STH2</td><td>sth2</td></tr>
	<tr><td>STHr</td><td>sthr</td></tr>
	<tr><td>STH2r</td><td>sth2r</td></tr>
	<tr><td>STHk</td><td>sthk</td></tr>
	<tr><td>STH2k</td><td>sth2k</td></tr>
	<tr><td>STHkr</td><td>sthkr</td></tr>
	<tr><td>STH2kr</td><td>sth2k</td></tr>
	<tr><th rowspan="8">LDZ</th><td>LDZ</td><td>laz</td></tr>
	<tr><td>LDZ2</td><td>laz2</td></tr>
	<tr><td>LDZr</td><td>flp laz flp</td></tr>
	<tr><td>LDZ2r</td><td>flp laz2 flp</td></tr>
	<tr><td>LDZk</td><td>lazk</td></tr>
	<tr><td>LDZ2k</td><td>laz2k</td></tr>
	<tr><td>LDZkr</td><td>flp lazk flp</td></tr>
	<tr><td>LDZ2kr</td><td>flp laz2k flp</td></tr>
	<tr><th rowspan="8">STZ</th><td>STZ</td><td>saz</td></tr>
	<tr><td>STZ2</td><td>saz2</td></tr>
	<tr><td>STZr</td><td>flp saz flp</td></tr>
	<tr><td>STZ2r</td><td>flp saz2 flp</td></tr>
	<tr><td>STZk</td><td>sazk</td></tr>
	<tr><td>STZ2k</td><td>saz2k</td></tr>
	<tr><td>STZkr</td><td>flp sazk flp</td></tr>
	<tr><td>STZ2kr</td><td>flp saz2k flp</td></tr>
	<tr><th rowspan="8">LDR</th><td>LDR</td><td>lof</td></tr>
	<tr><td>LDR2</td><td>lof2</td></tr>
	<tr><td>LDRr</td><td>lofr</td></tr>
	<tr><td>LDR2r</td><td>lof2r</td></tr>
	<tr><td>LDRk</td><td>-</td></tr>
	<tr><td>LDR2k</td><td>-</td></tr>
	<tr><td>LDRkr</td><td>-</td></tr>
	<tr><td>LDR2kr</td><td>-</td></tr>
	<tr><th rowspan="8">STR</th><td>STR</td><td>sof</td></tr>
	<tr><td>STR2</td><td>sof2</td></tr>
	<tr><td>STRr</td><td>sofr</td></tr>
	<tr><td>STR2r</td><td>sof2r</td></tr>
	<tr><td>STRk</td><td>-</td></tr>
	<tr><td>STR2k</td><td>-</td></tr>
	<tr><td>STRkr</td><td>-</td></tr>
	<tr><td>STR2kr</td><td>-</td></tr>
	<tr><th rowspan="8">LDA</th><td>LDA</td><td>lab</td></tr>
	<tr><td>LDA2</td><td>lab2</td></tr>
	<tr><td>LDAr</td><td>labr</td></tr>
	<tr><td>LDA2r</td><td>lab2r</td></tr>
	<tr><td>LDAk</td><td>labk</td></tr>
	<tr><td>LDA2k</td><td>lab2k</td></tr>
	<tr><td>LDAkr</td><td>labkr</td></tr>
	<tr><td>LDA2kr</td><td>lab2kr</td></tr>
	<tr><th rowspan="8">STA</th><td>STA</td><td>sab</td></tr>
	<tr><td>STA2</td><td>sab2</td></tr>
	<tr><td>STAr</td><td>sabr</td></tr>
	<tr><td>STA2r</td><td>sab2r</td></tr>
	<tr><td>STAk</td><td>sabk</td></tr>
	<tr><td>STA2k</td><td>sab2k</td></tr>
	<tr><td>STAkr</td><td>sabkr</td></tr>
	<tr><td>STA2kr</td><td>sab2kr</td></tr>
	<tr><th rowspan="8">DEI</th><td>DEI</td><td>lev</td></tr>
	<tr><td>DEI2</td><td>lev2</td></tr>
	<tr><td>DEIr</td><td>flp lev flp</td></tr>
	<tr><td>DEI2r</td><td>flp lev2 flp</td></tr>
	<tr><td>DEIk</td><td>levk</td></tr>
	<tr><td>DEI2k</td><td>lev2k</td></tr>
	<tr><td>DEIkr</td><td>flp levk flp</td></tr>
	<tr><td>DEI2kr</td><td>flp lev2k flp</td></tr>
	<tr><th rowspan="8">DEO</th><td>DEO</td><td>sev</td></tr>
	<tr><td>DEO2</td><td>sev2</td></tr>
	<tr><td>DEOr</td><td>flp sev flp</td></tr>
	<tr><td>DEO2r</td><td>flp sev2 flp</td></tr>
	<tr><td>DEOk</td><td>sevk</td></tr>
	<tr><td>DEO2k</td><td>sev2k</td></tr>
	<tr><td>DEOkr</td><td>flp sevk flp</td></tr>
	<tr><td>DEO2kr</td><td>flp sev2k flp</td></tr>
	<tr><th rowspan="8">ADD</th><td>ADD</td><td>add</td></tr>
	<tr><td>ADD2</td><td>add2</td></tr>
	<tr><td>ADDr</td><td>flp add flp</td></tr>
	<tr><td>ADD2r</td><td>flp add2 flp</td></tr>
	<tr><td>ADDk</td><td>addk</td></tr>
	<tr><td>ADD2k</td><td>add2k</td></tr>
	<tr><td>ADDkr</td><td>flp addk flp</td></tr>
	<tr><td>ADD2kr</td><td>flp add2k flp</td></tr>
	<tr><th rowspan="8">SUB</th><td>SUB</td><td>sub</td></tr>
	<tr><td>SUB2</td><td>sub2</td></tr>
	<tr><td>SUBr</td><td>flp sub flp</td></tr>
	<tr><td>SUB2r</td><td>flp sub2 flp</td></tr>
	<tr><td>SUBk</td><td>subk</td></tr>
	<tr><td>SUB2k</td><td>sub2k</td></tr>
	<tr><td>SUBkr</td><td>flp subk flp</td></tr>
	<tr><td>SUB2kr</td><td>flp sub2k flp</td></tr>
	<tr><th rowspan="8">MUL</th><td>MUL</td><td>mul</td></tr>
	<tr><td>MUL2</td><td>mul2</td></tr>
	<tr><td>MULr</td><td>flp mul flp</td></tr>
	<tr><td>MUL2r</td><td>flp mul2 flp</td></tr>
	<tr><td>MULk</td><td>mulk</td></tr>
	<tr><td>MUL2k</td><td>mul2k</td></tr>
	<tr><td>MULkr</td><td>flp mulk flp</td></tr>
	<tr><td>MUL2kr</td><td>flp mul2k flp</td></tr>
	<tr><th rowspan="8">DIV</th><td>DIV</td><td>div</td></tr>
	<tr><td>DIV2</td><td>div2</td></tr>
	<tr><td>DIVr</td><td>flp div flp</td></tr>
	<tr><td>DIV2r</td><td>flp div2 flp</td></tr>
	<tr><td>DIVk</td><td>divk</td></tr>
	<tr><td>DIV2k</td><td>div2k</td></tr>
	<tr><td>DIVkr</td><td>flp divk flp</td></tr>
	<tr><td>DIV2kr</td><td>flp div2k flp</td></tr>
	<tr><th rowspan="8">AND</th><td>AND</td><td>and</td></tr>
	<tr><td>AND2</td><td>and2</td></tr>
	<tr><td>ANDr</td><td>flp and flp</td></tr>
	<tr><td>AND2r</td><td>flp and2 flp</td></tr>
	<tr><td>ANDk</td><td>andk</td></tr>
	<tr><td>AND2k</td><td>and2k</td></tr>
	<tr><td>ANDkr</td><td>flp andk flp</td></tr>
	<tr><td>AND2kr</td><td>flp and2k flp</td></tr>
	<tr><th rowspan="8">ORA</th><td>ORA</td><td>bor</td></tr>
	<tr><td>ORA2</td><td>bor2</td></tr>
	<tr><td>ORAr</td><td>flp bor flp</td></tr>
	<tr><td>ORA2r</td><td>flp bor2 flp</td></tr>
	<tr><td>ORAk</td><td>bork</td></tr>
	<tr><td>ORA2k</td><td>bor2k</td></tr>
	<tr><td>ORAkr</td><td>flp bork flp</td></tr>
	<tr><td>ORA2kr</td><td>flp bor2k flp</td></tr>
	<tr><th rowspan="8">EOR</th><td>EOR</td><td>xor</td></tr>
	<tr><td>EOR2</td><td>xor2</td></tr>
	<tr><td>EORr</td><td>flp xor flp</td></tr>
	<tr><td>EOR2r</td><td>flp xor2 flp</td></tr>
	<tr><td>EORk</td><td>xork</td></tr>
	<tr><td>EOR2k</td><td>xor2k</td></tr>
	<tr><td>EORkr</td><td>flp xork flp</td></tr>
	<tr><td>EOR2kr</td><td>flp xor2k flp</td></tr>
	<tr><th rowspan="8">SFT</th><td>SFT</td><td>sft</td></tr>
	<tr><td>SFT2</td><td>sft2</td></tr>
	<tr><td>SFTr</td><td>flp sft flp</td></tr>
	<tr><td>SFT2r</td><td>flp sft2 flp</td></tr>
	<tr><td>SFTk</td><td>sftk</td></tr>
	<tr><td>SFT2k</td><td>sft2k</td></tr>
	<tr><td>SFTkr</td><td>flp sftk flp</td></tr>
	<tr><td>SFT2kr</td><td>flp sft2k flp</td></tr>
</table>