* { box-sizing:border-box;text-decoration:none;color:#000 }
body { font-size:16px;font-family:sans-serif;margin:0 auto;padding:0;width:720px;max-width:100% }
nav { width:100%;padding:20px;display:inline-block } 
nav img { float:left;margin-right:20px; }
nav ul { padding:5px;margin:0 5px 0 0;float:left;font-size:14px } 
nav ul li { list-style-type:none;white-space:pre } 
figure { margin:0;margin-bottom:10px }
figure img { margin:0;display:block }
figcaption { font-style:italic;color:#333 }
header img { width:100%;max-width:100%; }
header figcaption { font-size:0.9em;margin:6px 0px 0px 8px; }
main { margin-bottom:30px;padding:0 20px;max-width:720px;clear:both }
main { line-height:1.5em; }
main h1, main h2, main h3, main h4 { line-height:1.2em;margin-bottom:0.1em }
main h1 { font-weight:normal }
main h2 { margin-top:20px }
main h3 { text-transform:capitalize }
main sub { display:block;margin-bottom:1.2em;font-size:1em;font-style:italic;color:#333 }
main p { max-width:620px; }
main a[target="_blank"] { background: url('../media/icon/arrow_up_right.svg') center right no-repeat;background-size:10px;padding:0 11px 3px 0 }
main a, footer a { text-decoration:underline } 
main a:hover, nav a:hover, footer a:hover { background-color:#eee;color:#000 } 
main q { font-size:1.2em;font-style:italic;line-height:1.4em;;max-width:500px;display:block;margin:30px 0px 0px 10px; }
main cite { display:block;font-size:0.9em;margin-left:2.2em;margin-bottom:2em;color:#333 }
main cite:before { content:"— " }
main table { margin:0;border:1px solid #ddd;border-spacing:0;text-align:left }
main table th, main table td { border:1px dotted;vertical-align:top;padding: 2.5px 5px }
main pre, main code { margin:0;font-size:14px;background-color:#eee }
main pre { padding:8px;display:inline-block;min-width:100% }
main pre table { display:inline-table;margin:0;white-space:pre-wrap;word-wrap:break-word }
main pre table tr td:first-child { font-weight:bold }
main code { padding:1px;border:thin solid #888;border-radius:5px }
main article { margin-top:8px;padding:16px }
main article p { margin:0 }
main p.large { font-size:22px }
footer { padding:0 20px }
footer img { width:1em;margin-bottom:-2px; }
footer section > * { display:inline-block;margin-right:5px; }
footer section img { width:30px;margin-bottom:-10px; }

@media (prefers-color-scheme:dark) {
    * { color:#ddd }
	body { background:black }
	body a:hover, main a:hover > * { background-color:#fff;color:#000;text-decoration:none }
    main sub { color:#666 }
	main pre { background:#111 }
    main code { background:#111; }
}